name: lint

on:
  push:
  pull_request:

jobs:
  pyright:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install poetry
        uses: snok/install-poetry@v1

      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: poetry

      - name: Install dependencies
        run: poetry install

      - name: Run pyright
        run: poetry run pyright . --pythonversion 3.11
